<html>
    <head>
        <title>mini message board | Home</title>
    </head>
    <body>
        <% messages.forEach(message => { %>
            <h2><%= message.text %></h2>
            <h3><%= message.user %></h3>
            <p><%= message.added %></p>
            <hr>
            <br>
        <% }) %>
    </body>
</html>