<DOCTYPE html></DOCTYPE>
    <head>
        <title>mini message board | Msg</title>
    </head>
    <body>
        <div>
            <h1><%= messages[msgIndex].text %></h1>
            <p>sent by: <%= messages[msgIndex].user %></p>
            <p>date and time: <%= messages[msgIndex].added %></p>
        </div>
    </body>
</html>